{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('lists_update', list_id = list_id) }}">
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <h4>Old name: {{ name }}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.name.label }}
                </td>
                <td>
                    {{ form.name }}
                </td>
                <td>
                    <ul>
                        {% for error in form.name.errors %}
                        <li>{{ error}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Update</button>
                </td>
                <td colspan="2">
                        <a href="{{ url_for('lists_index') }}" id="cancel" name="cancel" class="btn btn-secondary">Cancel</a>
                </td>
            </tr>
        </table>
        </div>
    </form>


{% endblock %}