version: 2

  jobs:
    build:
      machine: true

      steps:
        - checkout

        - run:
            name: Build Docker image
            command: docker build -t skoskipaa/watchlist .

        - run:
            name: Push to Hub
            command: |
            docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
            docker push skoskipaa/watchlist
       
   deploy:
     docker:
       - image: skoskipaa/watchlist
     steps:
       - checkout
       - run:
           name: Deploy Master to Heroku
           command: |
             git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master

 workflows:
   version: 2
   build-deploy:
     jobs:
       - build
       - deploy:
           requires:
             - build # only run deploy-via-git job if the build job has completed
           filters:
             branches:
               only: master # only run deploy-via-git job on master branch
